# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database files
questions.db

# Uploaded files
uploads/

# Generated PDFs
Question_Paper.pdf
generated_papers/

# OS junk
.DS_Store
Thumbs.db
